.parent-form {
  width: 90%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.map-input {
  width: 35%;
  margin: 1em auto auto;
}

h1 {
  font-size: 300%;
  margin: 1em auto auto;
}

button {
  width: 150px;
  display: inline-block;
  margin: auto;
}

.top {
  margin: auto;
}
